body {
    height: 700px;
    width: 1000px;
    background-color: rgb(212, 153, 196);
}

#baner {
    height: 25%;
    width: 100%
    background-color: red;
}

#menu {
    height: 25%;
    width: 100%;
    float: left;
    background-color: olive;
}

#tresc {
    height: 25%;
    width: 50%;
    float: left;
    background-color: deeppink;
}

#tresc2 {
    height: 25%;
    width: 50%;
    float: left;
    background-color: maroon;
}

#stopka {
    height: 25%;
    width: 100%;
    float: left;
    background-color: blue;
}
